
:root {
  --primaryColor: #313233;
  --secondaryColor: #FAFAFB;
  --baseBackground: white;
  --fontsColor: #4d4b4b;
  --fontsColorLight: #616161;
}

.grid {
  width: 100%;
  display: grid;
  grid-row-gap: 20px;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}